<hr>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="col-sm-3">Shop Samsung
        <ul class="list-unstyled">
          <li><a href="">Shop all Products</a></li>
          <li><a href="">Shop all Accessories</a></li>
          <li><a href="">Special Offers Online</a></li>
          <li><a href="">Certified Refurbished</a></li>
          <li><a href="">Products</a></li>
          <br>
          <h5>Cell Phones</h5>
          <li><a href="">Galaxy S8</a></li>
          <li><a href="">Galaxy S Phones</a></li>
          <li><a href=""> Galaxy Note Phones</a></li>
          <li><a href="">Cell Phones</a></li>
          <li><a href=""> Prepaid/No Contract</a></li>
          <li><a href=""> AT&T Cell Phones</a></li>
          <li><a href=""> Verizon Wireless Cell Phones</a></li>
          <li><a href="">Sprint Cell Phones</a></li>
          <li><a href="">T-Mobile Cell Phones</a></li>
          <li><a href="">U.S. Cellular Cell Phones</a></li>
          <li><a href="">More Carriers</a></li>
          <li><a href="">Certified Pre-Owned Phones</a></li>
          <li><a href="">See All Cell Phones</a></li>

          <br>
          <h5>TVs</h5>
          <li><a href="">QLED TVs</a></li>
          <li><a href="">Frame TV</a></li>
          <li><a href="">Premium 4K UHD TVs</a></li>
          <li><a href="">4K UHD TVs</a></li>
          <li><a href="">Full HD TVs</a></li>
          <li><a href="">LED TVs</a></li>
          <li><a href=""> See All TVs</a></li>
        </ul>
      </div>
      <div class="col-sm-3">Tablets
        <br>
        <ul class="list-unstyled">
          <li><a href="">Galaxy Tabs</a></li>
          <li><a href="">Galaxy Notes</a></li>
          <li><a href="">Wi-Fi Tablets</a></li>
          <li><a href="">4G / LTE Tablets</a></li>
          <li><a href="">See All Galaxy Tablets</a></li>
          <br>
          <h5>Wearable Tech</h5>
          <li><a href="">Smartwatches</a></li>
          <li><a href="">Virtual Reality Headsets</a></li>
          <li><a href="">See All Gear</a></li>
          <br>
          <h5>Home Theater & Audio</h5>
          <li><a href=""> Wireless Multiroom Audio</a></li>
          <li><a href="">Soundbars</a></li>
          <li><a href="">Home Theater Systems</a></li>
          <li><a href=""> Blu-ray Players</a></li>
          <li><a href=""> DVD Players</a></li>
          <li><a href="">See All Home Audio </a></li>
          <li><a href="">Products</a></li>
        </ul>
      </div>
      <div class="col-sm-3">Computing
        <ul class="list-unstyled">
          <li><a href="">Windows Laptops</a></li>
          <li><a href="">Windows Desktops</a></li>
          <li><a href="">Chrome Devices</a></li>
          <li><a href="">All-In-One PCs</a></li>
          <li><a href="">Monitors</a></li>
          <li><a href="">Printers</a></li>
          <li><a href="">See All PCs</a></li>
          <br>
          <h5>Memory & Storage</h5>
          <li><a href="">Solid State Drives</a></li>
          <li><a href="">Portable SSD</a></li>
          <li><a href=""> USB Flash Drives</a></li>
          <li><a href=""> Memory Cards</a></li>
          <li><a href="">See All Memory & Storage</a></li>
          <br>
          <h5> Home Appliances</h5>
          <li><a href="">Washers</a></li>
          <li><a href="">Dryers</a></li>
          <li><a href=""> Refrigerators</a></li>
          <li><a href="">Microwaves</a></li>
          <li><a href="">Dishwashers</a></li>
          <li><a href="">Ranges</a></li>
          <li><a href="">Wall Ovens</a></li>
          <li><a href="">Cooktops & Hoods</a></li>
          <li><a href="">Vacuums</a></li>
        </ul>
      </div>
      <div class="col-sm-3">Smart Home
        <ul class="list-unstyled">
          <li><a href="">Kits</a></li>
          <li><a href="">Hubs</a></li>
          <li><a href="">Sensors</a></li>
          <li><a href="">Outlets</a></li>
          <li><a href="">See All Smart Home Products</a></li>
          <h5>Security & Monitoring</h5>
          <li><a href="">IP Cameras</a></li>
          <li><a href="">Security Systems</a></li>
          <li><a href="">Baby Monitors</a></li>
          <h5>Help With Your Order</h5>
          <li><a href="">Track Your Order</a></li>
          <li><a href="">Store FAQs</a></li>
          <li><a href="">Return Your Order</a></li>
          <li><a href="">Cancel Your Order</a></li>
          <li><a href="">Product Support</a></li>
          <h5>Accessories</h5>
          <li><a href="">TV Accessories</a></li>
          <li><a href="">Cell Phone Accessories</a></li>
          <li><a href="">Tablet Accessories</a></li>
          <li><a href="">Printer Accessories</a></li>
          <li><a href="">PC Accessories</a></li>
          <li><a href="">Digital Camera Accessories</a></li>
          <li><a href="">Refrigerator Accessories</a></li>
          <li><a href="">Washer & Dryer Accessories</a></li>
          <li><a href="">Security System Accessories</a></li>
          <li><a href="">Vacuum Accessories</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">Discover
          <ul class="list-unstyled">
            <li><a href="">Home Entertainment Has Never Been Better</a></li>
            <li><a href="">A New Era of Computing</a></li>
            <li><a href="">Share Life as it Happens</a></li>
            <li><a href="">Indulge Your Inner Gourmet</a></li>
            <li><a href="">Tech Life: Ideas & Inspiration</a></li>
            <li><a href="">Building a Smarter Future</a></li>
            <h5> Apps & Entertainment</h5>
            <li><a href="">Shop Samsung App</a></li>
            <li><a href="">Apps For Every Screen</a></li>
            <li><a href="">Samsung Pay</a></li>
            <li><a href=""> Samsung+</a></li>
            <li><a href="">Smart Switch</a></li>
          </ul>
        </div>
        <div class="col-sm-6">Owners&Support
          <ul class="list-unstyled">
            <li><a href="">Get Support</a></li>
            <li><a href="">Samsung Community</a></li>
            <li><a href="">Samsung Account</a></li>
            <li><a href="">Set Up Your New Device</a></li>
            <li><a href=""> Samsung Skills Workshop</a></li>
            <li><a href="">Register Your Device</a></li>
            <li><a href="">Manuals & Downloads</a></li>
            <li><a href="">Help With Your Order</a></li>
            <li><a href="">Contact Support</a></li>
            <li><a href=""> Galaxy Note7 Recall</a></li>
            <li><a href="">Top Load Washer Recall</a></li>
            <li><a href="">Windows 10 S Support Models</a></li>
            <h5> About Us</h5>
            <li><a href="">About Samsung</a></li>
            <li><a href="">Careers</a></li>
            <li><a href="">Sustainability</a></li>
            <li><a href="">News</a></li>
            <li><a href="">Hope for Children</a></li>
            <li><a href="">Investor Relations</a></li>
            <li><a href="">Product Recycling</a></li>
            <li><a href="">Accessibility Help</a></li>
          </ul>
        </div>

      </div>

    </div>
    <div class="row">
      <input type="text" placeholder="Search" name="search" width="100%">
      <i class="glyphicon glyphicon-search search" ></i>
    </div>
  </div>
</div>
