
@media screen and (min-width: 800px) {
  ul li {
    height: 170px;
    cursor: pointer;
    padding: 28px;
    margin: 0px 5px 5px 0px;
    display: inline-block;
    width: 185px;
    text-align: center;
    border: solid 1px #D2D2D2;
    vertical-align: top;
    -webkit-transition: all .2s ease;
    transition: all .2s
  }

  .imgDiv img {
    margin: 0px;
    padding: 0px;
    width: 83.85px;
    height: 83.85px;
  }

  .imgDiv {
    width: 83.85px;
    margin: 0px 22.575px;
    height: 84px;
    text-align: center;
  }

  ul {
    width: 1154px;
    height: 194px;
    margin-left: auto;
    padding: 0px;
  }
}


@media screen and (max-width: 799px) {
  .imgDiv img {
    margin: 0px;
    padding: 0px;
    width: 83.85px;
    height: 83.85px;
  }
}
/* ----------------you could delete if you don't like------------------*/

/*imgWrapper  {*/
/*width: 10%;*/
/*}*/
/* --------------------------------------------------------------------*/
h5 {
  width: 129px;
  height: 19px;
  margin: 28px 0px 0px 0px;
  font: inherit;
}


#productSelect {
  width: 1154px;
  height: 37px;
  padding-bottom: 34px;
  margin: 0px 0px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-left: 143px;
}

#modelNumber {
  width: 146px;
  height: 37px;
  float: right;
  font-size: 12px;
  display: inline;
  text-decoration: underline;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}
.ctr {
  width: 1440px;
  height: 266px;
}
