
<div id="topicsCntr">
  <div id="tabHead">What do you need help with?</div>
  <table>
    <tr>
      <td><span class="glyphicon glyphicon-headphones"></span> <div style="display: inline; margin-left: 10px">Audio & Sound</div></td>
      <td>Data & Backup</td>
      <td>Display or Screen</td>
      <td>Features & Specs</td>
    </tr>
    <tr>
      <td>How To</td>
      <td>Maintenance</td>
      <td>Network & Connectivity</td>
      <td>Parts & Accessories</td>
    </tr>
    <tr>
      <td>Ports & Connections</td>
      <td>Power & Battery</td>
      <td>Software & Apps</td>
      <td>Syncing & Transfering</td>
    </tr>
  </table>
</div>
