<!--The content below is only a placeholder and can be replaced.-->


<div class="ctr">
  <div class="ctrHead">
    <div>
      phones
    </div>
    <div id="productSelect">
      <span> Select your product type </span>
      <div id="modelNumber">ENTER MODEL NUMBER</div>
    </div>
  </div>
  <br><br>
  <div>
    <ul class="list-group list-inline">
      <li class="list-group-item">
        <div class="imgDiv">
          <img src="http://s7d2.scene7.com/is/image/SamsungUS/Galaxy_S8_294x294-1" class="img-fluid" alt="Responsive image" routerLink="phones">
        </div>
        <h5 style="height: 19px"> Phones </h5>
      </li>
      <li class="list-group-item">
        <div class="imgDiv">
          <img src="http://s7d2.scene7.com/is/image/SamsungUS/qled_294x294" class="img-fluid" alt="Responsive image" routerLink="tvs">
        </div>
        <h5 style="height: 19px"> Tvs </h5>
      </li>
      <li class="list-group-item">
        <div class="imgDiv">
          <img src="http://s7d2.scene7.com/is/image/SamsungUS/refrigerator21" class="img-fluid" alt="Responsive image" routerLink="refrigerators">
        </div>
        <h5 style="height: 19px"> Refrigerators </h5>
      </li>
      <li class="list-group-item">
        <div class="imgDiv">
          <img src="http://s7d2.scene7.com/is/image/SamsungUS/washers" class="img-fluid" alt="Responsive image" routerLink="washers">
        </div>
        <h5 style="height: 19px"> Washers </h5>
      </li>
      <li class="list-group-item">
        <div class="imgDiv">
          <img src="http://s7d2.scene7.com/is/image/SamsungUS/tablets" class="img-fluid" alt="Responsive image" routerLink="tablets">
        </div>
        <h5 style="height: 19px"> Tablets </h5>
      </li>
      <li class="list-group-item">
        <div class="imgDiv">
          <img src="http://s7d2.scene7.com/is/image/SamsungUS/chrome-devices" class="img-fluid" alt="Responsive image" routerLink="chromedevice">
        </div>
        <h5 style="height: 19px"> Chrome Device </h5>
      </li>
    </ul>

  </div>
  <br><br>

</div>


