<!--<div class="container-fluid">-->
  <!--<div class="row">-->
    <!--<div class="col-xs-3">-->
      <!--<div class="card" style=" border: 1px solid black;">-->
        <!--<img class="card-img-top img-responsive" src="http://s7d2.scene7.com/is/image/SamsungUS/Register_Product_387x244?$contact-us-featured-element-png$" alt="Card image cap">-->
        <!--<div class="card-block text-center">-->

          <!--<div class="widget-img">-->
            <!--<img src="http://www.samsung.com/us/smg/content/dam/support/icons/contactus/01-12-2016/TrackAService.svg" alt="profile pic" class="img-responsive">-->
          <!--</div>-->
          <!--&lt;!&ndash;<img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="widget-img img-circle img-border-light">&ndash;&gt;-->
          <!--<h4 class="card-title">Register your product</h4>-->
          <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
          <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<app-nav-bar></app-nav-bar>
<app-search></app-search>
<br>
<!--<app-ky-product></app-ky-product>-->
<router-outlet></router-outlet> <br><br><br><br>
<app-footer></app-footer>
